{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'layoutpoisson.html' %}

{% block body %}

<div id="put-overflow" class="w-100">
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <br>
                    <p class="h3 font-weight-bold mb-0">BIBLIOGRAFÍA: DISTRIBUCIÓN DE POISSON</p>
                </div>
            </div>
            <hr color="black" size="3">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="h5"><sup class="h6">[1]</sup>Ardila Duarte, G. (2019). Unilibre.edu.co. Obtenido de http://www.unilibre.edu.co/bogota/pdfs/2016/1sin/2.pdf</p>
                    <br>
                    <p class="h5"><sup class="h6">[2]</sup>Cinvestav. (1998). delta.cs.cinvestav.mx. Obtenido de http://delta.cs.cinvestav.mx/~mcintosh/oldweb/s1998/alejandro/node3.html</p>
                    <br>
                    <p class="h5"><sup class="h6">[3]</sup>MDID. (2020). mdid.org/. Obtenido de http://148.204.210.204/mdid/poisson.pdf</p>
                    <br>
                    <p class="h5"><sup class="h6">[4]</sup>Wackerly, D. D., Mendenhall III, W., & Scheaffer, R. L. (2009). Estadística Matemática con Aplicaciones. México D.F: Cengage Learning Editores S.A.</p>
                    <br>
                    <p class="h5"><sup class="h6">[5]</sup>Wikipedia. (26 de Julio de 2020). Wikipedia.org. Obtenido de https://es.wikipedia.org/wiki/Distribuci%C3%B3n_de_Poisson</p>
                    <br>
                </div>
            </div>
            <br>
            <p><i> desarrollado por - Juan Camilo Ramírez Rátiva 20181020089 </i></p>
            <p><i> Universidad Distrital Francisco José de Caldas </i></p>
        </div>
    </section>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}