{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'layoutbnegativar.html' %}

{% block body %}

<div id="put-overflow" class="w-100">
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <br>
                    <p class="h3 font-weight-bold mb-0">TEORÍA: DISTRIBUCIÓN BINOMIAL NEGATIVA</p>
                </div>
            </div>
            <hr color="black" size="3">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <p class="h3"><strong>¿Qué es?<sup class="h6">[1]</sup></strong></p>
                    <p class="h5" align="justify">Se considera una extensión de la distribución geométrica, la cual interpreta un modelo adecuado para expresar procesos en los que se repite un determinado ensayo o prueba hasta conseguir un número determinado de resultados favorables.</p>
                    <p class="h5" align="justify">La distribución de probabilidad binomial negativa comparte propósitos similares a la distribución de probabilidad geométrica, debido a que esta distribución se basa en eventos independientes e idénticos, los cuales fluctúan en los mismos dos resultados: éxito o fracaso.</p>
                    <br>
                    <p class="h3"><strong>Función de probabilidad binomial negativa<sup class="h6">[2]</sup></strong></p>
                    <p class="h5" align="justify"> Para un experimento binomial negativo, sea p la probabilidad de un éxito y 1-p la probabilidad de un fracaso en un solo ensayo, entonces la probabilidad de obtener x éxitos en n ensayos, está dada por la función de probabilidad P(Y = y) </p>
                    $$ p(Y = y) = {y - 1 \choose r - 1}p^rq^{y-r}$$
                    <p class="h3"><strong>Características</strong><sup class="h6">[3]</sup></p>
                    <ul>
                        <li><p class="h5" align="justify">El proceso consta de un numero no definido de pruebas separados o separables. El proceso concluirá cuando se obtenga un determinado número de resultados favorables K.</p></li>
                        <li><p class="h5" align="justify">Cada prueba puede dar dos resultados posibles mutuamente excluyentes: éxito o fracaso.</p></li>
                        <li><p class="h5" align="justify">La probabilidad de obtener un resultado de éxito en cada una de las pruebas es p siendo la probabilidad de no éxito, q. </p></li>
                        <li><p class="h5" align="justify">Las probabilidades de p y q son constantes en todas las pruebas, es decir son independientes la una de la otra.</p></li>
                    </ul>
                    <br>
                    <p class="h3"><strong>Aplicaciones</strong><sup class="h6">[4]</sup></p>
                    <p class="h5" align="justify">La distribución binomial negativa maneja el caso donde estamos interesados en el número de intento en el que ocurre el r-ésimo éxito, es por eso que presenta múltiples aplicaciones, sobre todo en el ámbito de los ensayos que interpreten una secuencia infinita de intentos de tipo Bernoulli.</p>
                    <br>
                </div>
            </div>
            <p><i> desarrollado por - Juan Camilo Ramírez Rátiva 20181020089 </i></p>
            <p><i> Universidad Distrital Francisco José de Caldas </i></p>
        </div>
    </section>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>

    window.sr = ScrollReveal();
         sr.reveal('.body-profile',{
             duration: 1000,
             origin: 'bottom'
         });

</script>
{% endblock %}